/* 
  container skew and left and right too 
  img transorm z , with transition (animation )
  text hover change from color to color in annimation 
  container annimation on z axis after one minute
  on small screen rotate left with z axis
*/
.container {
  width: 95%;
  margin: 19px auto;
  background-color: #eee;
  height: 620px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -o-transition: 3s;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  transition: 3s;
}

.container:hover {
  -o-transform: skew(10deg);
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  transform: skew(10deg);
}

.container .right {
  width: 65%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  border: solid 3px #6e6b6b;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  background-color: #eee;
  overflow: auto;
  perspective: 30px;
  perspective-origin: center center;
}

.container .right img {
  width: calc(92% / 4);
  height: 25%;
  margin-bottom: 2%;
  -o-transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  transition: 2s;
}

.container .right img:hover {
  -o-transform: translate3d(0px, 0px, 2px) skewX(10deg);
  -webkit-transform: translate3d(0px, 0px, 2px) skewX(10deg);
  -moz-transform: translate3d(0px, 0px, 2px) skewX(10deg);
  -ms-transform: translate3d(0px, 0px, 2px) skewX(10deg);
  transform: translate3d(0px, 0px, 2px) skewX(10deg);
}

.container .left {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: solid 3px #6e6b6b;
  margin-right: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  overflow: auto;
}
.container .left div {
  padding: 20px;
  border: solid 3px #6e6b6b;
  margin-right: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 25px;
  height: calc(100% / 3);
  overflow: auto;
  -o-transition: 5s;
  -webkit-transition: 5s;
  -moz-transition: 5s;
  -ms-transition: 5s;
  transition: 5s;
}

.container .left div:nth-of-type(1):hover {
  color: red;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    height: auto;
  }
  .container .left,
  .container .right {
    width: auto;
  }
  .container .left {
    overflow: visible;
  }
  .container .right {
    margin-top: 30px;
    height: 600px;
  }
  .container .right img {
    width: calc(96% / 2);
    height: 40%;
    margin-bottom: 30px;
  }
  .container .left div {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .container .right img {
    width: 100%;
  }
  .container:hover {
    -o-transform: skew(0deg);
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .container .right img {
    width: calc(96% / 3);
  }
}
